.header__nav-item-btn {
  background-color: #f25822;
  padding: 12px 27px;
  border-radius: 30px;
  border: none;
  font-family: 'Gilroy-SemiBold';
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  cursor: pointer;
}
