.header__nav-item-link {
  text-decoration: none;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  white-space: nowrap;
}

.header__nav-item-link:hover {
  color: #f25822;
}
